<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title> taskApp </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- month section  -->
  <ion-grid>
    <!-- <ion-row>Aug, 2021</ion-row> -->
    <ion-row class="weeks">
      <ion-col>Sun</ion-col>
      <ion-col>Mon</ion-col>
      <ion-col>Tue</ion-col>
      <ion-col>Wed</ion-col>
      <ion-col>Thu</ion-col>
      <ion-col>Fri</ion-col>
      <ion-col>Sat</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center" *ngFor="let i of [1,2,3,4,5,6,7]">
        <ng-container *ngIf="i> startCol">
          <ng-container [ngSwitch]="showType(i-startCol)">
            <div class="current_date" *ngSwitchCase="'today'">
              {{i-startCol}}
            </div>
            <ng-container *ngSwitchCase="'success'">
              <ion-icon
                name="checkmark-circle-outline"
                size="large"
                color="success"
              ></ion-icon>
            </ng-container>
            <ng-container *ngSwitchCase="'fail'">
              {{i-startCol}}
              <div class="dot" *ngSwitchCase="'fail'"></div>
            </ng-container>
            <ng-container *ngSwitchDefault> {{i-startCol}} </ng-container>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let i of calenderArray;let idx=index">
      <ion-col
        class="ion-align-self-center"
        *ngFor="let inc of [0,1,2,3,4,5,6]"
      >
        <ng-container [ngSwitch]="showType(i+inc)">
          <ion-icon
            name="checkmark-circle-outline"
            *ngSwitchCase="'success'"
            size="large"
            color="success"
          ></ion-icon>
          <div class="current_date" *ngSwitchCase="'today'">{{i + inc}}</div>
          <ng-container *ngSwitchCase="'fail'">
            {{i + inc}}
            <div class="dot"></div>
          </ng-container>
          <ng-container *ngSwitchDefault> {{i + inc}} </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center" *ngFor="let i of [0,1,2,3,4,5,6]">
        <ng-container *ngIf="i <= lastCol">
          <ng-container [ngSwitch]="showType(lastSundayDate+i)">
            <ion-icon
              name="checkmark-circle-outline"
              *ngSwitchCase="'success'"
              size="large"
              color="success"
            ></ion-icon>
            <div class="current_date" *ngSwitchCase="'today'">
              {{lastSundayDate+i}}
            </div>
            <ng-container *ngSwitchCase="'fail'">
              {{lastSundayDate+i}}
              <div class="dot"></div>
            </ng-container>
            <ng-container *ngSwitchDefault> {{lastSundayDate+i}} </ng-container>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- task section  -->

  <ion-item *ngFor="let item of lists">
    <ion-label>{{item.name}}</ion-label>
    <ion-checkbox
      slot="start"
      color="success"
      [checked]="item.status"
      (ionChange)="statusChange()"
    ></ion-checkbox>
  </ion-item>

  <div class="add-task-icon">
    <ion-icon
      slot="end"
      size="large"
      name="create-outline"
      (click)="addTask()"
    ></ion-icon>
  </div>
</ion-content>
