<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> taskApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let task of lists">
    <ion-label>{{task}}</ion-label>
    <ion-checkbox slot="start" color="success"></ion-checkbox>
  </ion-item>
    <ion-item *ngIf="showInput">
      <ion-input #task placeholder='type task'></ion-input>
      <ion-button type="submit" (click)='addTask(task.value)'>add</ion-button>
    </ion-item>

  <ion-toolbar class="add-task-icon">
    <ion-icon
      slot="end"
      size="large"
      name="create-outline"
      (click)="showInput = !showInput"
    ></ion-icon>
  </ion-toolbar>
</ion-content>
