.month-section{
  position: fixed;
}

.add-task-icon{
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}
.weeks{
  ion-col{
    color: rgb(54, 54, 54);
  }
}
ion-col{
  // border: 1px solid #fff;
  position: relative;
  display: grid;
  place-items: center;
  color: darkgrey;
  height: 40px;
  width: fit-content;
  border-radius: 50%;
  .dot{
    width: 4px;
    height: 4px;
    background-color: red;
    border-radius: 50%;
  }
  .current_date{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--ion-color-success);
    border-radius: 50%;
    z-index: -1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

